<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form th:object="${book}" th:action="@{/edit}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
        <label>Author:</label>
        <input type="text" th:field="*{author}" />
        <label>ISBN:</label>
        <input type="text" th:field="*{isbn}" />
        <label>Publication Year:</label>
        <input type="number" th:field="*{publicationYear}" />

        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" th:field ="*{category.categoryId}" required>
                <option value="">Select a category </option>
                <option th:each="c : ${categories}"
                    th:value="${c.categoryId}"
                    th:text="${c.name}">
                </option>
            </select>
        </select>
        </div>

        <button type="submit">Update Book</button>
    </form>

    <p><a th:href="@{/booklist}">Back to Book List</a></p>
</body>
</html>